#DeconvolutionLab2
#DeconvolutionLab2
#Mon May 01 13:43:18 CEST 2017
Algorithm.BVLS.iterations=10
Algorithm.BVLS.step=1.0
Algorithm.FISTA.iterations=10
Algorithm.FISTA.reg=0.1
Algorithm.FISTA.scale=3
Algorithm.FISTA.step=1.0
Algorithm.FISTA.wavelets=Haar
Algorithm.ICTM.iterations=10
Algorithm.ICTM.reg=0.4642
Algorithm.ICTM.step=1.0
Algorithm.ISTA.iterations=10
Algorithm.ISTA.reg=0.1
Algorithm.ISTA.scale=3
Algorithm.ISTA.step=1.0
Algorithm.ISTA.wavelets=Haar
Algorithm.LW.iterations=10
Algorithm.LW.step=1.0
Algorithm.NNLS.iterations=10
Algorithm.NNLS.step=1.0
Algorithm.RIF.reg=0.1
Algorithm.RL.iterations=10
Algorithm.RLTV.reg=1.000E-18
Algorithm.SIM.gaussian.mean=0.0
Algorithm.SIM.gaussian.stdev=1.0
Algorithm.SIM.poisson=0.0
Algorithm.TM.iterations=10
Algorithm.TM.reg=0.1
Algorithm.TM.step=1.0
Algorithm.TRIF.reg=0.1
Algorithm.VC.iterations=10
Algorithm.VC.step=1.0
Algorithm.algorithm=Landweber
Controller.constraint=no
Controller.monitor=console table
Controller.reference.enable=true
Controller.reference.value=/Users/dsage/Desktop/Screen Shot 2017-04-12 at 22.56.07.png
Controller.residu.enable=false
Controller.residu.value=0.01
Controller.stats=no
Controller.time.enable=false
Controller.time.value=1
Controller.verbose=log
DeconvolutionLab.DeconvolutionDialog.location.h=400
DeconvolutionLab.DeconvolutionDialog.location.w=963
DeconvolutionLab.DeconvolutionDialog.location.x=0
DeconvolutionLab.DeconvolutionDialog.location.y=23
DeconvolutionLab.MainDialog.location.h=774
DeconvolutionLab.MainDialog.location.w=507
DeconvolutionLab.MainDialog.location.x=65
DeconvolutionLab.MainDialog.location.y=63
FFT.epsilon=1E-6
FFT.fft=Academic
FFT.multithreading=yes
Image.image.row0=Cube;synthetic;Cube 50.0 1.0  size 300 128 300 intensity 255.0 ;\u232B
Image.image.row10=20170302_AIDE-MEMOIRE.pdf;file;/Users/dsage/Desktop/20170302_AIDE-MEMOIRE.pdf;null
Image.image.row11=Screen Shot 2017-04-12 at 22.56.07.png;file;/Users/dsage/Desktop/Screen Shot 2017-04-12 at 22.56.07.png;null
Image.image.row12=Screen Shot 2017-04-12 at 22.56.07.png;file;/Users/dsage/Desktop/Screen Shot 2017-04-12 at 22.56.07.png;null
Image.image.row13=RandomLines;synthetic;RandomLines 100.0  size 128 128 32 intensity 255.0 ;\u232B
Image.image.row14=active;platform;active;\u232B
Image.image.row15=Cube;synthetic;Cube 100.0 0.0 10.0 1.0  size 128 128 32 ;\u232B
Image.image.row16=Applications;directory;/users/dsage/Applications;\u232B
Image.image.row17=Cube;synthetic;Cube 100.0 0.0 10.0 1.0  size 128 128 32 ;\u232B
Image.image.row18=lib;directory;/Users/dsage/git/deconvolution/DeconvolutionLab2/lib;\u232B
Image.image.row1=Cube;synthetic;Cube 10.0 1.0  size 300 128 32 intensity 255.0 ;\u232B
Image.image.row2=workspace;directory;/Users/dsage/Desktop/workspace;\u232B
Image.image.row3=CubeSphericalBeads;synthetic;CubeSphericalBeads 3.0 0.5 10.0 5.0  size 128 128 128 intensity 255.0 ;\u232B
Image.image.row4=CubeSphericalBeads;synthetic;CubeSphericalBeads 3.0 0.5 8.0 16.0  size 128 128 32 intensity 255.0 ;\u232B
Image.image.row5=Cube of Spherical Beads;synthetic;Cube of Spherical Beads 3.0 0.5 8.0 8.0  size 128 128 128 intensity 255.0 ;\u232B
Image.image.row6=Screen Shot 2017-04-12 at 22.56.07.png;file;/Users/dsage/Desktop/Screen Shot 2017-04-12 at 22.56.07.png;null
Image.image.row7=20170302_AIDE-MEMOIRE.pdf;file;/Users/dsage/Desktop/20170302_AIDE-MEMOIRE.pdf;null
Image.image.row8=Screen Shot 2017-04-12 at 22.56.07.png;file;/Users/dsage/Desktop/Screen Shot 2017-04-12 at 22.56.07.png;null
Image.image.row9=Screen Shot 2017-04-12 at 22.56.07.png;file;/Users/dsage/Desktop/Screen Shot 2017-04-12 at 22.56.07.png;null
Image.image.selected=Cube;synthetic;Cube 50.0 1.0  size 300 128 300 intensity 255.0 ;\u232B
Language.headless=Run (Headless)
Language.job=Job
Language.language=Java
Output.output.row0=mip;MI1;rescaled;;;\u2713;\u2713;\u232B
Output.output.selected=mip;MI1;rescaled;;;\u2713;\u2713;\u232B
PSF.psf.row0=Double-Helix;synthetic;Double-Helix 3.0 30.0 10.0  size 128 128 32 intensity 255.0 ;null
PSF.psf.row1=Sinc;synthetic;Sinc 3.0 3.0 3.0  size 100 128 200 intensity 255.0 ;null
PSF.psf.selected=Double-Helix;synthetic;Double-Helix 3.0 30.0 10.0  size 128 128 32 intensity 255.0 ;null
Path.current=desktop
Path.display=true
Path.path=/Users/sage/Desktop/
Path.system=true
Preprocessing.apoxy=Uniform
Preprocessing.apoz=Uniform
Preprocessing.extxy=0
Preprocessing.extz=0
Preprocessing.normalization=1
Preprocessing.padxy=None
Preprocessing.padz=None
System.Frame.location.h=80
System.Frame.location.w=637
System.Frame.location.x=0
System.Frame.location.y=23
