#DeconvolutionLab2
#DeconvolutionLab2
#Mon Apr 24 10:39:24 CEST 2017
Algorithm.BVLS.iterations=10
Algorithm.BVLS.step=1.0
Algorithm.FISTA.iterations=10
Algorithm.FISTA.reg=0.1
Algorithm.FISTA.scale=3
Algorithm.FISTA.step=1.0
Algorithm.FISTA.wavelets=Haar
Algorithm.ICTM.iterations=10
Algorithm.ICTM.reg=0.1
Algorithm.ICTM.step=1.0
Algorithm.ISTA.iterations=10
Algorithm.ISTA.reg=0.1
Algorithm.ISTA.scale=3
Algorithm.ISTA.step=1.0
Algorithm.ISTA.wavelets=Haar
Algorithm.LW.iterations=10
Algorithm.LW.step=1.0
Algorithm.NNLS.iterations=10
Algorithm.NNLS.step=1.0
Algorithm.RIF.reg=0.1
Algorithm.RL.iterations=10
Algorithm.RLTV.reg=0.1
Algorithm.SIM.gaussian.mean=0.0
Algorithm.SIM.gaussian.stdev=1.0
Algorithm.SIM.poisson=0.0
Algorithm.TM.iterations=10
Algorithm.TM.reg=0.1
Algorithm.TM.step=1.0
Algorithm.TRIF.reg=0.1
Algorithm.VC.iterations=10
Algorithm.VC.step=1.0
Algorithm.algorithm=Regularized Inverse Filter
Border.apoxy=Hamming
Border.apoz=Uniform
Border.extxy=4
Border.extz=0
Border.padxy=None
Border.padz=None
Computation.display=yes
Computation.epsilon=1E-6
Computation.fft=Fastest
Computation.multithreading=yes
Computation.normalization=1
Computation.system=yes
Controller.constraint=no
Controller.monitor=console table
Controller.reference.enable=false
Controller.reference.value=
Controller.residu.enable=false
Controller.residu.value=0.01
Controller.stats=no
Controller.time.enable=false
Controller.time.value=3600
Controller.verbose=log
DeconvolutionLab.DeconvolutionDialog.location.h=1009
DeconvolutionLab.DeconvolutionDialog.location.w=600
DeconvolutionLab.DeconvolutionDialog.location.x=0
DeconvolutionLab.DeconvolutionDialog.location.y=23
DeconvolutionLab.MainDialog.location.h=812
DeconvolutionLab.MainDialog.location.w=577
DeconvolutionLab.MainDialog.location.x=663
DeconvolutionLab.MainDialog.location.y=66
Image.image.row0=input-v2.tif;file;/Users/sage/Desktop/Deconvolution/data/microtubules2/input-v2.tif;\u232B
Image.image.row1=CElegans-FITC.tif;file;/Users/sage/Desktop/Deconvolution/data/c-elegans/CElegans-FITC.tif;\u232B
Image.image.row2=Cell7.tif;file;/Users/dsage/Desktop/Maria Azevedo/Cell7.tif;null
Image.image.selected=input-v2.tif;file;/Users/sage/Desktop/Deconvolution/data/microtubules2/input-v2.tif;\u232B
Language.headless=Run (Headless)
Language.job=Job
Language.language=Command line
Output.output.row0=mip;MI1;;;;\u2713;\u2713;\u232B
Output.output.selected=mip;MI1;;;;\u2713;\u2713;\u232B
PSF.psf.row0=h.tif;file;/Users/sage/Desktop/Deconvolution/data/microtubules2/h.tif;\u232B
PSF.psf.row1=AirySimulated;synthetic;AirySimulated 100.0 0.0 1.0  size 128 128 32 ;null
PSF.psf.selected=h.tif;file;/Users/sage/Desktop/Deconvolution/data/microtubules2/h.tif;\u232B
Path.current=Specify
Path.path=/Users/sage/Desktop/test
Running.Directory=/Users/dsage/git/deconvolution
Running.Monitor=console table
Running.Path=current
Running.Verbose=log
System.Frame.location.h=313
System.Frame.location.w=640
System.Frame.location.x=4
System.Frame.location.y=438
