# PURE-LET image deconvolution
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>PureLetDeconv, "Demo", Demo
Plugins>PureLetDeconv, "Run", Run
